
body{

    font-family: 'Gentium Book Plus', serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.color1{

    color: darkgoldenrod;
}

.Color{
    color: green;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;

}

.half-width{

    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 70%;
}

.link-Button{
    text-decoration: none;
    background-color: rgb(162, 162, 190);
    padding: 5px 10px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(255, 0, 0),rgb(255, 140, 0));
    font-size: large;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: unset;

    
}

.Top-banner{

    background-image: url(images/top-banner.png);
}

.Sp-half-Width{

    width: 50%;
    padding-right: 10%;
}
.Sp-half-Width img{

    width: 70%;
    
}


.head-color{
    color: rgb(19, 117, 222);
}
.second-head{
    color: lightslategray;
}
 
.second-banner{

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
   
} 

.button-resum{

    text-decoration:none;
    background-image: linear-gradient(orange,rgb(235, 119, 30));
    background-color: rgb(190, 89, 16);
    padding: 5px 10px;
    border-radius: 6px;
    border-style:outset;
    
}

.card-deco{

    box-shadow: inset 10px 5px 25px  5px black, 5px 5px 12px 2px rgb(170, 71, 71);
    margin: 25px 30px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

footer p{
    text-align: center;
}